<div id="WMDE-banner" class="WMDE-banner">
	<a id="WMDE-banner-close-button" class="WMDE-banner-close-button" href="#" title="Schließen">
		<svg width="14px" height="14px" viewBox="0 0 14 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
			<path id="Close" d="M7,4.789l-4.789,-4.789l-2.211,2.211l4.789,4.789l-4.789,4.789l2.211,2.211l4.789,-4.789l4.789,4.789l2.211,-2.211l-4.789,-4.789l4.789,-4.789l-2.211,-2.211l-4.789,4.789Z"/>
		</svg>
	</a>
	<div class="WMDE-banner-wrapper">
		<div class="WMDE-banner-image">
			<div>
				<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e0/WD10_-_Wikidata_10_icon_-_colors.png/634px-WD10_-_Wikidata_10_icon_-_colors.png" alt="Logo for Wikidata's 10th birthday">
			</div>
		</div>
		<div class="WMDE-banner-content">
			<div class="WMDE-banner-content-left">
				<div class="WMDE-banner-inline-image">
					<div>
						<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e0/WD10_-_Wikidata_10_icon_-_colors.png/317px-WD10_-_Wikidata_10_icon_-_colors.png" alt="Logo for Wikidata's 10th birthday">
					</div>
				</div>
				<div class="WMDE-banner-copy">
					{{ copy }}
				</div>
			</div>
			<div class="WMDE-banner-content-right">
				<a href="https://www.wikidata.org/wiki/Wikidata:Tenth_Birthday/Run_an_event/Schedule#Add_your_event_to_the_calendar?campaign=WMDE_wikidata_10_2022&wp_user={{ wp_user }}&impression_count={{ impression_count }}" class="WMDE-banner-button WMDE-banner-button-schedule" id="WMDE-banner-schedule">
					{{ button_text_schedule }}
				</a>
				<a href="https://www.wikidata.org/wiki/Special:MyLanguage/Wikidata:Tenth_Birthday/Run_an_event?campaign=WMDE_wikidata_10_2022&wp_user={{ wp_user }}&impression_count={{ impression_count }}" class="WMDE-banner-button WMDE-banner-button-event" id="WMDE-banner-event">
					{{ button_text_event }}
				</a>
			</div>
		</div>
	</div>
</div>
