<div id="WMDE-banner" class="WMDE-banner">
	<a id="WMDE-banner-close-button" class="WMDE-banner-close-button" href="#" title="Schließen">
		<svg width="14px" height="14px" viewBox="0 0 14 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
			<path id="Close" d="M7,4.789l-4.789,-4.789l-2.211,2.211l4.789,4.789l-4.789,4.789l2.211,2.211l4.789,-4.789l4.789,4.789l2.211,-2.211l-4.789,-4.789l4.789,-4.789l-2.211,-2.211l-4.789,4.789Z"/>
		</svg>
	</a>
	<a id="WMDE-banner-translate-button" class="WMDE-banner-translate-button" href="https://meta.wikimedia.org/w/index.php?title=Special:Translate&group=Centralnotice-tgroup-WMDE_Wikidata_10_Contributor_Call">
		{{ translate }}
	</a>
	<a id="WMDE-banner-link" class="WMDE-banner-link" href="https://www.wikidata.org/wiki/Special:MyLanguage/Wikidata:Tenth_Birthday/Celebration_video?campaign=WMDE_wikidata_10_cc_2022&wp_user={{ wp_user }}&impression_count={{ impression_count }}">
		<div class="WMDE-banner-wrapper">
			<div class="WMDE-banner-image">
				<div>
					<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e0/WD10_-_Wikidata_10_icon_-_colors.png/634px-WD10_-_Wikidata_10_icon_-_colors.png" alt="Logo for Wikidata's 10th birthday">
				</div>
			</div>
			<div class="WMDE-banner-content">
				<div class="WMDE-banner-content-left">
					<div class="WMDE-banner-inline-image">
						<div>
							<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e0/WD10_-_Wikidata_10_icon_-_colors.png/317px-WD10_-_Wikidata_10_icon_-_colors.png" alt="Logo for Wikidata's 10th birthday">
						</div>
					</div>
					<div class="WMDE-banner-copy">
						{{ copy }}
					</div>
				</div>
				<div class="WMDE-banner-content-right">
					<button class="WMDE-banner-button">
						{{ button_text }}
					</button>
				</div>
			</div>
		</div>
	</a>
</div>
