<div id="paidwriting-banner-container" class="paidwriting-banner {{ banner }}"
	style="background-color:{{{ banner_background_color }}};">
	<div class="paidwriting-banner-close">
		<a id="paidwriting-banner-close-button" href="#" title="Schließen">
			<div class="paidwriting-banner-close-button"></div>
		</a>
	</div>
	<a id="paidwriting-banner-link" href="https://lime.wikimedia.de/index.php/676355?lang=de&pk_campaign=wp20_aw&pk_kwd={{ keyword }}&wp_user={{ wp_user }}&impression_count={{ impression_count }}">
		<div class="paidwriting-banner-wrapper">
			<div class="paidwriting-banner-title"
				style="color:{{{ banner_title_color }}};">
				<span style="background-color:{{{ banner_background_color }}};">{{{ banner_title }}}</span>
			</div>
			<div class="paidwriting-banner-banner">
				<span style="background-color:{{{ banner_background_color }}};">{{{ banner_subtitle }}}</span>
			</div>
			<div class="paidwriting-banner-button">
				{{{ banner_button_text }}}
			</div>
		</div>
	</a>
</div>
